/* body::before{
    display:block;
    content:"";
    height: 30px;
} */

.heroSec{
    background-image: url(../img/pet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
}


